<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Ground School</title>

    <!-- link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/ -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<!-- nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">starfireaviation.com</a>
</nav -->

<!-- main role="main" class="container" -->
    <a th:href="@{/}">home</a> | <a th:href="@{/lessonplans/new}">New</a>
    <h1>Lesson Plans</h1>
<ul>
    <li th:each="lessonPlan : ${lessonPlans}">
        <table th:border="0">
            <tr>
                <td>
                    <a th:href="@{/lessonplans/{id}(id=${lessonPlan.getId()})}" th:text="${lessonPlan.getTitle()}"></a>
                </td>
                <td>
                    <a th:href="@{/lessonplans/edit/{id}(id=${lessonPlan.getId()})}">Edit</a>
                </td>
                <td>
                    <a th:href="@{/lessonplans/delete/{id}(id=${lessonPlan.getId()})}">Delete</a>
                </td>
            </tr>
        </table>
    </li>
</ul>
<!-- /main -->
<!-- /.container -->

<!-- script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script -->
</body>
</html>