<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Ground School</title>

    <!-- link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/ -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<!-- nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">starfireaviation.com</a>
</nav -->

<!-- main role="main" class="container" -->
    <a th:href="@{/}">home</a>
    <h1>Create a New Lesson Plan</h1>
<form id="createLessonPlanForm"
      th:action="@{/lessonplans}"
      th:method="post"
      th:object="${lessonPlan}">
    Title:<br>
    <div th:remove="tag" th:utext="*{title}"></div>
    <br>
    <input name="title" type="text" th:value="*{title}">
    <br>
    Summary:<br>
    <div th:remove="tag" th:utext="*{summary}"></div>
    <br>
    <textarea name="summary" rows="4" cols="80" th:field="*{summary}"></textarea>
    <br>
    Objective:<br>
    <div th:remove="tag" th:utext="*{objective}"></div>
    <br>
    <textarea name="objective" rows="4" cols="80" th:field="*{objective}"></textarea>
    <br>
    Content:<br>
    <div th:remove="tag" th:utext="*{content}"></div>
    <br>
    <textarea name="content" rows="4" cols="80" th:field="*{content}"></textarea>
    <br>
    Schedule:<br>
    <div th:remove="tag" th:utext="*{schedule}"></div>
    <br>
    <textarea name="schedule" rows="4" cols="80" th:field="*{schedule}"></textarea>
    <br>
    Equipment:<br>
    <div th:remove="tag" th:utext="*{equipment}"></div>
    <br>
    <textarea name="equipment" rows="4" cols="80" th:field="*{equipment}"></textarea>
    <br>
    Instructor Actions:<br>
    <div th:remove="tag" th:utext="*{instructorActions}"></div>
    <br>
    <textarea name="instructorActions" rows="4" cols="80" th:field="*{instructorActions}"></textarea>
    <br>
    Student Actions:<br>
    <div th:remove="tag" th:utext="*{studentActions}"></div>
    <br>
    <textarea name="studentActions" rows="4" cols="80" th:field="*{studentActions}"></textarea>
    <br>
    Completion Standards:<br>
    <div th:remove="tag" th:utext="*{completionStandards}"></div>
    <br>
    <textarea name="completionStandards" rows="4" cols="80" th:field="*{completionStandards}"></textarea>
    <br>
    Presentable:<br>
    <input type="checkbox" th:value="${lessonPlan.isPresentable()}">
    <br>
    <input type="submit" value="Create">
</form>
<!-- /main -->
<!-- /.container -->

<!-- script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script -->
</body>
</html>