<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Starfire Aviation Ground School</title>

    <!-- link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/ -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

    <a th:href="@{/}">home</a>
<!-- nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">starfireaviation.com</a>
</nav -->

<!-- main role="main" class="container" -->
    <form id="getQuestionForm"
          action="/questions"
          method="get">
        Question ID:
        <input name="questionId" type="text" th:value="${selection.getQuestionId()}">
        <input type="submit" value="Search">
    </form>
    <form id="selectionForm"
          action="/questions"
          method="post">
        Groups:
        <select th:id="groups"
                th:name="groups"
                onchange="changeGroup()">
            <option th:each="group : ${groups.entrySet()}"
                    th:value="${group.getKey()}"
                    th:text="${group.getValue()}"
                    th:selected="${selection.getGroupId()} == ${group.getKey()}">
            </option>
        </select>
        <input type="hidden"
               id="groupId"
               name="groupId"
               th:value="${selection.getGroupId()}">
        <br>
        Chapters:
        <select th:id="chapters"
                th:name="chapters"
                onchange="changeChapter()">
            <option th:each="chapter : ${chapters.entrySet()}"
                    th:value="${chapter.getKey()}"
                    th:text="${chapter.getValue()}"
                    th:selected="${selection.getChapterId()} == ${chapter.getKey()}">
            </option>
        </select>
        <input type="hidden"
               id="chapterId"
               name="chapterId"
               th:value="${selection.getChapterId()}">
        <br>
        Questions:
        <select th:id="questions"
                th:name="questions"
                onchange="changeQuestion()">
            <option th:each="question : ${questions}"
                    th:value="${question.getQuestionId()}"
                    th:text="${question.getText()}"
                    th:selected="${selection.getQuestionId()} == ${question.getQuestionId()}">
            </option>
        </select>
        <input type="hidden"
               id="questionId"
               name="questionId"
               th:value="${selection.getQuestionId()}">
        <br>
        <hr>
        <hr>
        <br>
        <div th:remove="tag" th:utext="${question.getText()}"></div>
        <div th:if="${question.getImageIds()}">
        <table>
            <tr th:each="image: ${question.getImageIds}">
                <td><img th:src="@{${'/images/' + image}}"/></td>
                <!-- td><img th:src="@{${'http://groundschool.starfireaviation.com:8080/images/' + image}}"/></td -->
                <!-- td><img th:src="@{${'http://localhost:8080/images/' + image}}"/></td -->
            </tr>
        </table>
        </div>
        <table th:border="0" th:style="'margin-left:30px'">
            <tr th:each="answer : ${question.getAnswers}">
                <td th:id="${answer.getCorrect() ? 'correctAnswerChoice' : 'incorrectAnswerChoice'}"
                    th:text="${answer.getChoice() + ':'}"></td>
                <!-- th:style="${answer.getCorrect() ? 'color: green;' : 'color: black;'}" -->
                <td th:id="${answer.getCorrect() ? 'correctAnswerText' : 'incorrectAnswerText'}"
                    th:text="${answer.getText()}"></td>
            </tr>
        </table>
    </form>
    <button th:id="revealBtn" th:text="reveal" onclick="revealAnswer()"></button>
    <br>
    <hr>
    <div id="explanation" th:style="'display:none'">
        <div th:remove="tag" th:utext="${question.getExplanation()}"></div>
    </div>
<!-- /main -->
<!-- /.container -->
<script type="text/javascript">
    function changeGroup() {
        document.getElementById("groupId").value = document.getElementById("groups").value;
        document.getElementById("selectionForm").submit();
    }
    function changeChapter() {
        document.getElementById("chapterId").value = document.getElementById("chapters").value;
        document.getElementById("selectionForm").submit();
    }
    function changeQuestion() {
        document.getElementById("questionId").value = document.getElementById("questions").value;
        document.getElementById("selectionForm").submit();
    }
    function revealAnswer() {
        if (document.getElementById("explanation").style.display === 'none') {
            document.getElementById("correctAnswerChoice").style.color = 'green';
            document.getElementById("correctAnswerText").style.color = 'green';
            document.getElementById("revealBtn").innerText = 'hide';
            document.getElementById("explanation").style.display = 'block';
        } else {
            document.getElementById("correctAnswerChoice").style.color = 'black';
            document.getElementById("correctAnswerText").style.color = 'black';
            document.getElementById("revealBtn").innerText = 'reveal';
            document.getElementById("explanation").style.display = 'none';
        }
    }
</script>

<!-- script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script -->
</body>
</html>