<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ground School - Quiz</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
<form id="takeQuizForm"
      th:action="@{/quizzes/submit}"
      th:method="post"
      th:object="${quiz}">
        <input type="hidden" th:field="*{id}">
        Email Address:
        <input type="text" width="80" th:field="*{emailAddress}"><br>
        <ol>
            <li th:each="question,state : ${quiz.getQuestions()}">
                <div th:remove="tag" th:utext="${question.getText()}"></div>
                <div th:if="${question.getImageIds()}">
                    <table>
                        <tr th:each="image: ${question.getImageIds()}">
                            <td><img th:src="@{${'/images/' + image}}"/></td>
                        </tr>
                    </table>
                </div>
                <table th:border="0" th:style="'margin-left:30px'">
                    <tr th:each="answer : ${question.getAnswers()}">
                        <td><input type="radio" th:field="*{id}" th:value="*{id}"></td>
                        <td th:text="${answer.getChoice() + ':'}"></td>
                        <td th:text="${answer.getText()}"></td>
                    </tr>
                </table>
                <p></p>
            </li>
        </ol>
    </form>
</body>
</html>